<div class="content-wrapper">
	<div class="portfolios-wrapper">
		<div class="portfolios-grid">
			<!-- <div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>
			<div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>
			<div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>
			<div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>
			<div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>
			<div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>
			<div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>
			<div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div> -->
		</div>
	</div>
</div>
<div class="screen-dim" id="open-picture-dim">
	<div class="opened-picture-wrapper">
		<div class="instant-picture-wrapper">
			<div class="instant-picture">
			</div>
			<div class="instant-picture-beautiful-text-wrapper">
				<span class="instant-picture-beautiful-text">Some beatiful text</span><span class="instant-picture-beautiful-text">, some beautiful text</span><span class="instant-picture-beautiful-text">, some beautiful text</span>
			</div>
			<div class="comment-section">
				<div class="input-3-words">
					<input type="text" name="" placeholder="You have 3 comments left" autofocus>
				</div>
				<div class="available-comment-count">
					<span id="available-comment-count">2</span>
				</div>
				<div class="activate-comment-notion">
					<span class="fa fa-plus"></span>
				</div>
			</div>
		</div>
		<div class="focused-left-content">
			<div class="owners-name">User Name</div>
		</div>
	</div>
</div>