*{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     font-family: Arial;
}
body{
	background-color: #fff4e5;
}
.total-wrapper{
	display: inline;
	justify-content: center;
}
.header-wrapper{
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6%;
	background-color: #fff;
	border-bottom: 1px solid grey;
	z-index: 1;
}
.menu-wrapper{
	display: flex;
	flex-basis: 1100px;
	justify-content: space-between;
}

.menu-list{
	display: inline-flex;
	margin: 0;
	padding: 0;
}
.menu-list > li {
	display: inline-flex;
	line-height: 45px;
	list-style: none;
	text-align: center;
}
.menu-list > li > a {
	display: block;
	font-weight: bold;
	color: grey;
	padding: 3px 10px;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}
.menu-list > li > a.active{
	color: #ffa31a;
 
}
.menu-list > li > a:hover{
	color: #ffa31a;
	border-bottom: 2px solid #ffa31a ; 
}
.fa{
	margin-right: 5px;
}

.brand-icon {
	text-align: center;
}

.right-dock{
	display: inline-flex;
	align-items: center;
}
/* #post-button{
	display: inline-flex;
	height: 30px;
	font-weight: bold;
	color: #fff;
	background-color: #ffa31a;
	border-radius: 20px;
	padding: 7px 20px;
}
#post-button:hover{
	cursor: pointer;	
	opacity: 0.75;
} */
#open-sign-in-button{
	display: flex;
    align-items: center;
    background-color: #ffa31a;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px;
    font-size: 1em;
    font-weight: bold;
    padding: 3px 10px;
}
#open-sign-in-button > span{
	font-size: 20px;
}
#open-sign-in-button:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: #ffa31a;
	box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
}
#sign-out-button{
	display: none;
    align-items: center;
    background-color: #ffffff;
    color: #d4d0d0e3;
    border-radius: 5px;
    padding: 2px;
    font-size: 1em;
    font-weight: bold;
    padding: 3px 10px;
}
#sign-out-button > span{
	font-size: 20px;
}
#sign-out-button:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: #ffa31a;
	box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);	
}
.profile-setting-wrapper{
	display: none;
	position: relative;
	border-radius: 20px;
	width: 35px;
	height: 35px;
	margin: 0px 10px 0px 10px;
}
.profile-setting-avatar{
	display: inline-flex;
	border-radius: inherit;
	width: inherit;
	height: inherit;
	cursor: pointer;
}
.profile-setting-avatar > img{
	border-radius: inherit;
	width: inherit;
	height: inherit;
}

.profile-setting-section{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid grey;
	padding: 10px 0px 10px 0px;
}
.profile-setting-section:last-child{
	border: none;
}
.profile-setting-username{
	margin: 0px 15px 0px 15px;
	padding: 5px 0px;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}
.profile-setting-option{
	width: 100%;
	cursor: pointer;
	padding: 10px 0px 10px 15px;
}
.profile-setting-option .fa{
	margin-right: 10px;
}
.profile-setting-option:hover{
	color: #ffffff;
	background-color: #fc20f8;
}



@media screen and (max-width: 768px) {
	.menu-option-text{
		display: none;
	}
	.menu-option .fa{
		font-size: 1.7em;
	}
	.slogan {

	}

	.pull-height {
		padding: 0 0 0.8em 0;
	}

	.slogan-content {
		display: block;
		padding: 0.8em 0 0.8em 0;
		text-align: center;
		color: rgba(127, 122, 122, 0.77);
		background-color: rgba(179, 178, 179, 0.67);
	}
	.profile-setting-dock{
		display: none;
		flex-direction: column;
		position: absolute;
		top: 110%;
		left: -145px;
		width: 180px;
		background-color: #ffffff;
		box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
		border-radius: 5% 0 5% 5%;
	}
}

@media screen and (min-width: 769px){
	.slogan {

	}	
	.pull-height {
		padding: 0.65%;
	}
	
	.slogan-content {
		display: block;
		padding: 0.8em 0 0.8em 0;
		text-align: center;
		color: rgba(127, 122, 122, 0.77);
		background-color: rgba(179, 178, 179, 0.67);
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
	}
	.profile-setting-dock{
		display: none;
		flex-direction: column;
		position: absolute;
		top: 110%;
		left: -145px;
		width: 180px;
		background-color: #ffffff;
		box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
		border-radius: 5% 0 5% 5%;		
	}
}	

.superfical-content {
	display: inline;
}

.powerful-content {
	display: inline;
}